<!doctype html>
<html lang="pt-brs">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" href="<%= asset_path('amazon_favicon.ico') %>" image="image/gif" size="16x16">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" /> 
  <%= stylesheet_link_tag 'bootstrap.min', media: 'all' %>
  <%= stylesheet_link_tag 'bootstrap-drawer.min', media: 'all' %>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'cart' %>
  <title>Amazon</title>
</head>

<body>
  <%= render 'layouts/nav' %>
  <%= yield %>

  <%= javascript_include_tag 'jquery' %>  
  <%= javascript_include_tag 'popper' %>  
  <%= javascript_include_tag 'bootstrap' %>  
  <%= javascript_include_tag 'bootstrap-drawer' %>  
  <%= javascript_include_tag 'custom' %>
</body>
</html>